@model FoodDetailModel


@if(Model.Categories.Count == 1)
{
    @foreach (var item in Model.Categories)
{
<h3 class="d-flex">
    <a href="/category/index" style="text-decoration: none; font-size: 15px; color: #9B9B9B !important; " class="text-dark a">Tüm Kategoriler </a><span style="font-size: 15px; color: #9B9B9B !important;"> &gt; </span>
    <a asp-controller="Food" asp-action="FoodList" asp-route-category="@item.Url" style="text-decoration: none; font-size: 15px; color: #9B9B9B !important; " class="text-dark">@item.CategoryName</a><span style="font-size: 15px; color: #9B9B9B !important;"> &gt; </span> <p style="font-size: 15px; color: #9B9B9B !important;">@Model.Food.FoodName</p>
</h3>
    }
}
else
{
         @foreach (var item in Model.Categories)
{
<h3 class="d-flex">
    <a href="/category/index" style="text-decoration: none; font-size: 15px; color: #9B9B9B !important; " class="text-dark ">Tüm Kategoriler </a><span style="font-size: 15px; color: #9B9B9B !important;"> &gt; </span>
    <a asp-controller="Food" asp-action="FoodList" asp-route-category="@item.Url" style="text-decoration: none; font-size: 15px; color: #9B9B9B !important; " class="text-dark">@item.CategoryName</a><span style="font-size: 15px; color: #9B9B9B !important;"> &gt; </span> <p style="font-size: 15px; color: #9B9B9B !important;" >@Model.Food.FoodName</p>
        </h3>
        break;
    }
}




    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/@Model.Food.FoodImage" style="height:280px; width:380px; list-style-type:none" class="img-fluid">
        </div>
        <div class="col-md-8">

            <h5 class="mb-3">@Model.Food.FoodName</h5> <hr />
            <div class="d-flex align-items-lg-start">
                @foreach (var item in Model.Categories)
                {
                    
                     <a asp-controller="Food" asp-action="FoodList" asp-route-category="@item.Url" class="btn btn-link text-info p-0 mb-3 me-2">@item.CategoryName</a>
                
                
                }
              </div>
            <a  asp-controller="Food" asp-action="Manage" asp-route-username="@Model.UserName" class="btn btn-link p-0 mb-3"><span class="text-dark"><img src="~/images/author-icon-21.jpg" width="30" height="35" alt="Alternate Text" /></span>@Model.UserName</a>

               
            
            


           @* <div class="mb-3">
                <h4 class="text-primary mb-3"><i class="fa-solid fa-turkish-lira-sign"></i>@Model.Food.FoodPrice</h4>
                <button type="submit" class="btn btn-primary btn-lg">Add To Card</button>
            </div>*@

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-5">
            <h3 class="text-dark bolder">Malzemeler</h3>
            <div style="background-color: #F7F7F7">
                <h4>@Html.Raw(Model.Food.FoodMaterial)</h4>

            </div>
            <div style="background-color: #F7F7F7 ">
                <p class="p-3">@Html.Raw(Model.Food.FoodRecipe)</p>
            </div>
        </div>
    </div>
